@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeDown {
    animation: fadeDown 1s ease;
  }

  .animate-fadeUp {
    animation: fadeUp 1s ease;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease;
  }
}